.card-container, .card__front, .card__back {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.card-container {
  position: relative;
}

.card--red {
  background-color: darkred;
}

.card--blue {
  background-color: darkblue;
}

.card--green {
  background-color: darkgreen;
}

.card--yellow {
  background-color: burlywood;
}

.card__front, .card__back {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.card__input {
  border: none;
  outline: none;
  background: none;
  font-size: 3rem;
  color: #FFF;
  max-width: 100%;
}

/* ANIMATIONS
/* Inspiration from
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Animations/Using_CSS_animations
https://stackoverflow.com/questions/55509418/react-css-transition-css-for-fade-in-and-out-when-background-image-is-changed
*/
.card--left {
  z-index: 1;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: left;
  animation-duration: 1s;
  animation-name: left;
}

@-webkit-keyframes left {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}

@keyframes left {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}

.card--right {
  z-index: 1;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: right;
  animation-duration: 1s;
  animation-name: right;
}

@-webkit-keyframes right {
  from {
    width: 0%; 
  }

  to {
    width: 100%;
  }
}

@keyframes right {
  from {
    width: 0%; 
  }

  to {
    width: 100%;
  }
}

.card--top {
  z-index: 1;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: top;
  animation-duration: 1s;
  animation-name: top;
}

@-webkit-keyframes top {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: 0%;
  }
}

@keyframes top {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: 0%;
  }
}

.card--bottom {
  z-index: 1;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: bottom;
  animation-duration: 1s;
  animation-name: bottom;
}

@-webkit-keyframes bottom {
  from {
    height: 0%;
  }

  to {
    height: 100%;
  }
}

@keyframes bottom {
  from {
    height: 0%;
  }

  to {
    height: 100%;
  }
}

/* Copied from https://codepen.io/ArtemGordinsky/pen/GnLBq */
.blinking-cursor {
  font-weight: 100;
  font-size: 3em;
  color: #FFF;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #FFF;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #FFF;
  }
}

@-webkit-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #FFF;
  }
}

@-ms-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #FFF;
  }
}

@-o-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #FFF;
  }
}