.card {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.card--red {
  background-color: darkred;
}

.card--blue {
  background-color: darkblue;
}

.card--green {
  background-color: darkgreen;
}

.card--yellow {
  background-color: burlywood;
}

.card__input {
  border: none;
  outline: none;
  background: none;
  font-size: 8rem;
  color: #FFF;
}
